.nome {
    font-weight: bold;
    animation: color-change 2s infinite;
}

.centro{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(20px, 1.8vw, 25px);
    list-style-position: inside;
}


h1 {
    font-size: clamp(80px, 1vw, 120px);
}

p {
    font-size: clamp(20px, 5vw, 25px);
}

h3 {
    font-size: clamp(20px, 1.2vw, 25px);
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

img {
    width: clamp(800px, 70vw, 1200px);
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}



@keyframes color-change {
    0% {
        color: white;
    }

    50% {
        color: red;
    }

    100% {
        color: white;
    }
}