.nome {
    font-weight: bold;
    animation: color-change 2s infinite;
}

h1 {
    font-size: clamp(28px, 4vw, 56px);
}

p {
    font-size: clamp(16px, 1.2vw, 18px);
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

img {
    width: 65vw;
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

ul {
    font-size: clamp(0.8rem, 1vw, 2rem);
    text-align: center;
    list-style-position: inside;
}


@keyframes color-change {
    0% {
        color: white;
    }

    50% {
        color: red;
    }

    100% {
        color: white;
    }
}